.grid_container {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 73vh 43vh;
    grid-template-areas:
    "a b c c c c d d d"
    "e f f g g g h h h";
    grid-gap: 0.4rem;
}
.grit_item1 {
    grid-area: a;
    background-image: url("../images/01.jpg");
}
.grit_item2 {
    grid-area: b;
    background-image: url("../images/02.jpg");
}
.grit_item3 {
    grid-area: c;
    background-image: url("../images/03.jpg");
}
.grit_item4 {
    grid-area: d;
    background-image: url("../images/04.jpg");
}
.grit_item5 {
    grid-area: e;
    background-image: url("../images/05.jpg");
}
.grit_item6 {
    grid-area: f;
    background-image: url("../images/06.jpg");
}
.grit_item7 {
    grid-area: g;
    background-image: url("../images/07.jpg");
}
.grit_item8 {
    grid-area: h;
    background-image: url("../images/08.jpg");
}